.App {
  text-align: center;
  height: 100%;

}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.container-fluid {
  height: 100%;
  background-color: #f5eba5;
}


.App-link {
  color: #ffffff;
}


.row-bottom-margin {
  margin-bottom: 0px;

}

#sidebar {
  padding-top: 10px;
}

/* .nav {
 
  padding-top: 0px;
  height: 100%;
} */

.nav-item {
  color: #f5eba5;
  text-align: center;
  justify-content: center;
  align-items: flex-start;
}
.nav-item a {
  color: #f5eba5;
}
.nav-item a:hover {
  color: #ffffff;
  font-size: larger;
  font-weight: 700;
}

ul a {
  color: #000000;
  text-decoration: none;
}
ul a:hover {
  color: #333333;
  font-size: larger;
  font-weight: 700;
  text-decoration: none;
}