.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #ffffff;
}
.container-fluid {
  background-color: #f5eba5;
}

.row-bottom-margin {
  margin-bottom: 0px;

}

#sidebar {
  padding-top: 10px;
}

.nav {
 
  padding-top: 0px;
  height: 80vh;
}

.nav-item {
  color: #f5eba5;
  text-align: center;
  justify-content: center;
  align-items: flex-start;
}
.nav-item a {
  color: #f5eba5;
}
.nav-item a:hover {
  color: #ffffff;
  font-size: larger;
}